<template name="gamePage">
    <div class="row">
        <div class="col-lg-11">
            <img src="{{iconUrl}}" alt="{{title}}" class="pull-left img-thumbnail">
            <div class="game-page-info">
                <h2>{{title}} {{#if currentUser}} <a href="{{editUrl}}">Edit</a> {{/if}}</h2>
                <span><a href="{{url}}">Link to Game</a></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-11">
            <h4>{{headline}}</h4>
        </div>
    </div>
    <div class="row">
        {{#each screenshotUrls}}
            {{> screenshotEntry}}
        {{/each}}
    </div>
    <div class="row">
        <div class="col-lg-11">
            <h3>Game Description</h3>
            <p>{{desc}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-11">
            <h3>Editor Remark</h3>
            <p>{{remark}}</p>
        </div>
    </div>
</template>

<template name="screenshotEntry">
    <div class="col-lg-4">
        <img src="{{this}}" alt="" class="img-thumbnail">
    </div>
</template>
